
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(37,12,11);
    background: linear-gradient(-55deg, rgba(37,12,11,1) 0%, rgba(255,124,0,1) 100%);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    border: #111;
    box-sizing: 10px;
}
