<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Jornal Municipal</title>

    <link rel="stylesheet" href= url_for('static', filename="template.css") >

</head>
<body>
    <header>
        <div class="container">
            <h1 class= "logo" > Jornal Municipal São João dos Pinheiros </h1>
            <strong><nav>
                <ul class="menu">
                    <li><a href= "index.html" > Index </a></li>
                    <li><a href= "materias.html" > Matérias </a></li>
                    <li><a href= "teluteis.html" > Telefones Úteis </a></li>
                    <li><a href= "hrcircular.html" > Horário da Circular </a></li>
                </ul>
            </nav></strong>
        </div>


        <div class="text_rotate">
        <marquee behavior="" direction="">Saúde | Educação | Moradia | Infraestrutura | Transporte | Emprego | Segurança</marquee>
        </div>

    </header>

</body>
</html>